<div class="container mt-3">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <p class="h4">Contants:</p>
            <ul class="list-group">
              <li class="list-group-item">
                <a routerLink="/counter">Counter</a>
              </li>
              <li class="list-group-item">
                <a routerLink="/wish-message">Wish Message</a>
              </li>
              <li class="list-group-item">
                <a routerLink="/product-item">Product Item</a>
              </li>
              <li class="list-group-item">
                <a routerLink="/shopping-cart">Shopping Cart</a>
              </li>
              <li class="list-group-item">
                <a routerLink="/change-username">Change Username (Manual)</a>
              </li>
              <li class="list-group-item">
                <a routerLink="/change-username-auto">Change Username (Auto)</a>
              </li>
              <li class="list-group-item">
                <a routerLink="/sms">SMS</a>
              </li>
              <li class="list-group-item">
                <a routerLink="/show-password">Show Password</a>
              </li>
              <li class="list-group-item">
                <a routerLink="/amount-range">Amount Range</a>
              </li>
              <li class="list-group-item">
                <a routerLink="/theme">Theme (Dark/White)</a>
              </li>
              <li class="list-group-item">
                <a routerLink="/user-register">User Register</a>
              </li>
              <li class="list-group-item">
                <a routerLink="/auth-user">Auth User</a>
              </li>
              <li class="list-group-item">
                <a routerLink="/shopping-cart-modified">Shopping Cart (Modified)</a>
              </li>
              <li class="list-group-item">
                <a routerLink="/pipes">Pipes</a>
              </li>
              <li class="list-group-item">
                <a routerLink="/user-list">User List</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  <!-- <app-counter></app-counter>
  <app-wish-message></app-wish-message>
  <app-product-item></app-product-item>
  <app-shopping-cart></app-shopping-cart>
  <app-change-username></app-change-username>
  <app-change-username-auto></app-change-username-auto>
  <app-sms-app></app-sms-app>
  <app-show-password></app-show-password>
  <app-amount-range></app-amount-range>
  <app-theme></app-theme>
  <app-user-register></app-user-register>
  <app-auth-user></app-auth-user>
  <app-shopping-cart-modified></app-shopping-cart-modified>
  <app-pipes></app-pipes>
  <app-user-list></app-user-list> -->