<section class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card shadow-lg">
                    <div class="card-header" [class.bg-dark]="darkTheme" [class.text-white]="darkTheme">
                        <p class="h4">Theme Selector</p>
                        <div class="form-check form-switch">
                            <input 
                                name="darkTheme"
                                [(ngModel)]="darkTheme"
                                class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Dark theme</label>
                        </div>
                    </div>
                    <div class="card-body" [class.bg-dark]="darkTheme" [class.text-white]="darkTheme">
                        <img src="assets/img/card_1.jpg" alt="" class="img-fluid">
                        <p class="h3 mt-2">Solution</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quam tenetur porro beatae
                            fugiat corporis nihil iusto officia? Vitae enim provident tenetur modi aspernatur atque
                            nobis assumenda maxime, sapiente iste.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>